<form>
  <div class="form-group">
    <label>Operando A</label>
    <input type="number"
     class="form-control"
      placeholder="Escribe operando A"
      [(ngModel)]="operandoA"
      name="operandoA" />
  </div>
  <div class="form-group">
    <label>Operando B</label>
    <input type="number"
      class="form-control"
      placeholder="Escribe operando B"
      [(ngModel)]="operandoB"
      name="operandoB" />
  </div>
  <div class="btn-group" role="group">
    <div class="row">
      <div class="col">
        <button type="submit"
        class="btn btn-primary"
        (click)="onSumar()">Sumar</button>
      </div>
      <div class="col">
      <button type="submit"
      class="btn btn-secondary"
      (click)="onRestar()">Restar</button></div>
      <div class="col">
      <button type="submit"
      class="btn btn-success"
      (click)="onMultiplicar()">Multiplicar</button></div>
      <div class="col">
      <button type="submit"
      class="btn btn-warning"
      (click)="onDividir()">Dividir</button></div>
    </div>
  </div>
</form>
